.navbar {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: auto;
  font-family: basicFont;
  letter-spacing: 4px;
}

.navbar-wrap {
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 1030px;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  max-width: 1440px;
}

.navItems {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
  margin: 10px;
}

.Logo {
  color: #333;
  text-decoration: none;
  z-index: 100;
  position: relative;
  left: 15px;
}

.Logo-img {
  height: 50px;
  width: 50px;
  background-image: url("../Assets/LogoIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.burgerWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger {
  display: none;
  width: 40px;
  cursor: pointer;
  height: 35px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 90%;
  height: 4px;
  border-radius: 10px;
  background-color: #000;
  margin: 5px 0px;
  transition: 0.4s;
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-6px, -5px);
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.menu {
  width: 100%;
  position: relative;
  right: 15px;
}

.menu-wrap {
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.menu-items {
  display: flex;
  list-style: none;
  z-index: 100;
}
.menu-items a {
  letter-spacing: px;
}

.nav-link {
  color: #1a1b1f;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .Logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    left: 0;
  }

  .hamburger {
    display: block;
  }

  .menu {
    display: block;
    margin-top: 40px;
    width: 100vw;
    transition: 0.5s;
    position: absolute;
    z-index: 1;
    top: -500px;
    left: 0;
  }

  .menu-wrap {
    background-color: #fff;
    max-width: 1440px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  .menu-items {
    background-color: white;
    justify-content: baseline;
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .menu-items li{
    width: 100%;
    text-align: center;
  }
  .menu-items li:hover {
    background-color: #eee;
  }

  .menu-down {
    top: 0px;
  }

  .menu-items li {
    padding: 10px;
  }
  .menu-items a {
    letter-spacing: 4px;
  }

  .nav-link {
    color: #1a1b1f;
    letter-spacing: 0.25px;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}
